PyOpenSSL==19.1.0 # if using selfsigned or assertonly provider
cryptography==2.8 # if using selfsigned or assertonly provider
acme-tiny==4.1.0 # if using the acme provider
PyYAML==5.3.1
ansible==4.2.0
